<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evualuating a News Article</title>
        <script type ="text/javascript" src="../../../dist/main.js"></script>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Please Enter the URL">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            <section>

            <section>
                <div id="results">
                    <strong>Form Results:</strong></div>
                    <div id="subjectivity"></div>
                    <div id="agreement"></div>
                    <div id="confidence"></div>
                    <div id="irony"></div>
                    <div id="scoreTag"></div>
            </section>
        </main>

        <footer>
            <p>Project by Yusrah Shaikh</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>

    </body>
</html>
